@import "tailwindcss";

@theme {
  --color-primary: #002494;
  --color-dark-blue: #000f3d;
  --color-hover-color: #2b52ca;
  --color-customBlue: #a1b2e7;
  --color-dark-brown: #333;
  --color-light-pink: #c36;
  --color-light-gray: #ebebeb;
  --color-modern-gray: #69727d;
  --color-light-black: #1f2124;
  --color-custom-white: #efefef;

  /* letter spacing */
  --tracking-tightest: -1px;

  /* shadow */
  --shadow-bg: 0px -4px 44px 0px rgba(0, 15, 61, 0.5);
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: "Archivo", Sans-serif;
}

.backgroundImage {
  background-image: url("../../public/assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footerBackground {
  background-image: url("../../public/assets/footerbackground.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.introBackground {
  background-image: url("../../public/assets/techBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-shadow {
  box-shadow: 0px 0px 10px 5px rgba(12.98, 32.3, 4, 0.5);
}
.technologyBackground {
  background-image: url("../../public/assets/technologyBack.webp");
  background-color: #000f3d;
  background-repeat: no-repeat;
  background-position: top left;
}
.custom-drop-shadow {
  box-shadow: 0px -4px 44px 0px rgba(0, 15, 61, 0.5);
}
.marquee-Gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 20%,
    #000 80%,
    transparent
  );
}

.mySwiper .swiper-pagination-bullet {
  margin: 0 4px !important;
}
.mySwiper .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: #888;
}
@media (min-width: 768px) {
  .swiper {
    padding-top: 60px !important;
    position: relative !important;
  }
  .swiper-pagination {
    top: 0px !important;
    bottom: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    width: 100%;
    z-index: 200 !important;
  }

  .mySwiper .swiper-pagination-bullet {
    width: 32px;
    height: 5px;
    border-radius: 0;
    background-color: #888;
    opacity: 0.5;
    transition: all 0.3s ease;
  }
  .mySwiper .swiper-pagination-bullet:hover {
    background-color: aqua;
  }

  .mySwiper .swiper-pagination-bullet-active {
    background-color: #c3c3c3;
    opacity: 1;
  }
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
.skiptranslate > iframe {
  display: none !important;
}
.skiptranslate {
  display: none !important;
}
